CompileFlags:
  Add: ["-DTEST_MARKER_GLOBAL_NOIF"]
If:
  PathMatch: [FenixWeb]
---
CompileFlags:
  Add: ["-DTEST_MARKER_FENIXWEB_IF"]
If:
  PathMatch: [FenixWeb]
---
CompileFlags:
  Add: ["-DTEST_MARKER_FOXCRAFT_IF"]
If:
  PathMatch: [Foxcraft]
---
CompileFlags:
  Add: ["-DTEST_MARKER_GLOBAL_BARE"]
