CompileFlags:
  Add: ["-DTEST_A"]
If:
  PathMatch: [".*Foxcraft.*"]
---
CompileFlags:
  Add: ["-DTEST_B"]
If:
  PathMatch: ["Foxcraft/"]
---
CompileFlags:
  Add: ["-DTEST_C"]
If:
  PathMatch: ["Chunk.cpp"]
---
CompileFlags:
  Add: ["-DTEST_D"]
If:
  PathMatch: ["J:/ProjectFenix/Foxcraft"]
---
CompileFlags:
  Add: ["-DTEST_E"]
If:
  PathMatch: [".*main\\.cpp"]
