[submodule "FenixEngine"]
	path = FenixEngine
	url = https://github.com/Iemand005/FenixEngine
[submodule "Foxcraft"]
	path = Foxcraft
	url = https://github.com/Iemand005/Foxcraft
[submodule "Cake"]
	path = Cake
	url = https://github.com/Iemand005/Cake
[submodule "ShaderSavers"]
	path = ShaderSavers
	url = https://github.com/Iemand005/ShaderSavers
[submodule "Atmosphere"]
	path = Atmosphere
	url = https://github.com/Iemand005/Atmosphere
[submodule "Tunnel"]
	path = Tunnel
	url = https://github.com/Iemand005/Tunnel
[submodule "Labyrinth"]
	path = Labyrinth
	url = https://github.com/Iemand005/Labyrinth
